body {
  background-color: #666;
  color: #6b6;
  font-family: Arial, Helvetica, sans-serif;
}

#grid {
  position: relative;
  display: grid;

  width: fit-content;
}

.cell {
  width: 32px;
  aspect-ratio: 1 / 1;
  background-size: 736px 928px; /* Full tileset size */
}

.player {
  background-color: rgb(203, 237, 51);
  grid-row: var(--row);
  grid-column: var(--col);
  transition: grid-row 0.4s linear, grid-column 0.4s linear;
  z-index: 2;
}

.path {
  background-image: url("./assets/32x32.png");
  background-position: -32px -64px;
}

.wall {
  background-image: url("./assets/32x32.png");
  background-position: -96px -32px;
}

.enemy {
  background-color: rgb(184, 10, 13);
}

#character {
  background-color: rgb(255, 238, 0); /* Or use background-image for a sprite */
  z-index: 3;
}

#enemy1,
#enemy2 {
  background-color: red;
  z-index: 2;
}

#character,
#enemy1,
#enemy2 {
  position: absolute;
  width: 30px;
  height: 30px;
  transition: transform 0.2s linear;
  pointer-events: none;
}
